# Environment files
.env
*.env

# Python virtual environments
venv/
.venv/

# SQLite databases
*.db

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log

# OS-specific junk
.DS_Store
Thumbs.db

# Node
node_modules/
**/node_modules/
